# Dependency directories
node_modules/

# Local env files
.env

# Uploads directory (temporary files only)
uploads/

# Debug logs
npm-debug.log*
*.stackdump
grep.exe.stackdump
# Firebase Private Key
telichat-4c031-firebase-adminsdk-fbsvc-99e4e54927.json
